.container-fluid {
	padding: 0px;
}

body {
	text-align: center;
}

.header {
	padding-bottom: 4px;
}

h2 {
	padding-bottom: 15px;
}

.bg {
	box-shadow:
		inset  0  12px 12px -8px #000, 
		inset  0 -12px 12px -8px #000;

	height: 150px;

	background: repeating-linear-gradient(
		45deg,
		#000,
		#000 10px,
		#fff 10px,
		#fff 20px
	);
}

div[class*='bg-'] {
	height: 100%;
}

div[class*='borders-'] {
	width: 100%;
}

@media only screen and (max-width: 991px) {
	div.bg {
		height: 150px;
	}
}

@media only screen and (max-width: 767px) {
	div[class*='borders-'] {
		padding: 0;
	}

	div.bg {
		height: 100px;
	}
}

@media only screen and (max-width: 479px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
	div[class*='borders-'] {
		padding: 0px 10%;
	}

	div.center {
		padding: 40px;
	}
}

@media only screen and (min-width: 992px) {
	div[class*='borders-'] {
		padding: 0px 13%;
	}
}

.bg-black-red {
	background: linear-gradient(
		#222d,
		#b12d
	);
}

.borders-red {
	background-color: #b34;
}

.bg-red-orange {
	background: linear-gradient(
		#b12d,
		#c71d
	);
}

.borders-orange {
	background-color: #b72;
}

.bg-orange-yellow {
	background: linear-gradient(
		#c71d,
		#cc1d
	);
}

.borders-yellow {
	background-color: #bb3;
}

.bg-yellow-green {
	background: linear-gradient(
		#cc1d,
		#3a1d
	);
}

.borders-green {
	background-color: #493;
}

.bg-green-blue {
	background: linear-gradient(
		#3a1d,
		#19cd
	);
}

.borders-blue {
	background-color: #48a;
}

.bg-blue-black {
	background: linear-gradient(
		#19cd,
		#000d
	);
}

.center {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 34px;
	padding-left: 12px;
	padding-right: 12px;
	width: 100%;
	overflow: auto;
}

.project {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.project .thumb {
	padding: 0 2em;
	box-sizing: border-box;
}

img {
	border-radius: 50%;
	width: 80%;
	max-width: 150px;
	padding: 12px 0px;
}

.project .summary {
	flex: 1;
	padding-bottom: 10px;
}

.left *, .right * {

}

.left div * {
	float: left;
	width: 100%;
	text-align: left;
}

.right div * {
	float: right;
	width: 100%;
	text-align: right;
}
