* {
	background-color: #E9E7E5;
	color: black;
	font-family: 'Open Sans', sans-serif;
}

.hide {
	display: none;
}

hr {
	width: 550px;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.button1 {
	font-size: 14pt;
	font-weight: 700;
	padding-top: 3px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid #A070B0;
	border-radius: 8px;
	margin-left: 8px;
	margin-right: 8px;
	cursor: pointer;
}



/* Japt interpreter stuff */

.code-table {
	border-collapse: collapse;
	margin-left: 50px;
	table-layout: fixed;
	width: 250px;
}

.code-table tr td {
	border: 1px solid #CCCCCC;
	padding-left: 2px;
	padding-right: 2px;
	color: black;
	font-family: Inconsolata, Consolas, monospace;
	border-radius: 4px;
}

textarea {
	overflow: auto;
	width: 100%;
	font-family: Inconsolata, Consolas, monospace;
	font-size: 10p;
	text-align: left;
	border-radius: 8px;
	margin: 8px;
}

#GUI {
	width: 50%;
}

#GUI * {
	text-align: left;
}

#left-column, #right-column {
	width: 48%;
}

#docs {
	width: 44%;
	height: 600px;
	float: right;
	margin-right: 10px;
	padding: 5px;
	padding-left: 10px;
	border: 2px solid #666;
	overflow-y: scroll;
	font-size: 14px;
	line-height: 115%;
	border-radius: 8px;
}

#docs, #docs * {
	background-color: #EEE;
}

.code {
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 1px;
	margin-right: 1px;
	color: black;
	padding-bottom: 2px;
	font-family: Inconsolata, Consolas, monospace;
}

.arrow {
	text-decoration: none;
	border: 2px solid #3E2;
	border-radius: 6px;
	padding-left: 4px;
	padding-right: 4px;
	color: #FAFEFD;
	cursor: pointer;
}
